#container1 {
  border : 2px solid yellow;
  width  : 400px;
  height : 120px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  


}
.child {
    border : 2px solid black;
    width  : 80px;
    height : 80px;
    margin:auto;
    border-radius: 10%;

}
.child:hover
{
    background-color : black;    
}
.child:nth-child(1) {
    background-color: green;

}
.child:nth-child(2) {
    background-color: blue;

}
.child:nth-child(3) {
    background-color: purple;
}

.child:nth-child(4) {
    background-color: pink;
}